html {
  font-size: 120%;
}

body {
  font-family: sans-serif;
  background-color: #000;
  color: #FFF;
  cursor: default;
}

a, a:visited {
  text-decoration: none;
  color: gray;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  cursor: crosshair;
  display: inline-block;
}

a:hover {
  color: white;
}

.container {
  margin: auto;
  margin-top: 2rem;
  max-width: 30rem;
}
